# 21 Pandas

Comprehensive examples with practical demonstrations.

## Import Pandas

In [ ]:
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__)

## Creating Series and DataFrames

In [ ]:
# Series
s = pd.Series([1, 3, 5, 6, 8])
print("Series:", s)

# DataFrame from dict
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['NYC', 'LA', 'Chicago']}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

## Reading and Writing Data

In [ ]:
# Create sample data
df.to_csv('sample.csv', index=False)
df_read = pd.read_csv('sample.csv')
print("Read CSV:")
print(df_read)

## Data Inspection

In [ ]:
print("Head:")
print(df.head())

print("Info:")
print(df.info())

print("Describe:")
print(df.describe())

print("Shape:", df.shape)
print("Columns:", df.columns.tolist())
print("Index:", df.index.tolist())

## Indexing and Selection

In [ ]:
print("Column selection:")
print(df['Name'])

print("Multiple columns:")
print(df[['Name', 'Age']])

print("Row selection by label:")
print(df.loc[0])

print("Row selection by position:")
print(df.iloc[0])

print("Boolean indexing:")
print(df[df['Age'] > 25])

## Data Cleaning

In [ ]:
# Add some missing data
df_dirty = df.copy()
df_dirty.loc[0, 'Age'] = np.nan
print("Data with NaN:")
print(df_dirty)

print("Drop NaN:")
print(df_dirty.dropna())

print("Fill NaN:")
print(df_dirty.fillna(0))

## Data Operations

In [ ]:
df['Age_Double'] = df['Age'] * 2
print("Added column:")
print(df)

print("Mean age:", df['Age'].mean())

print("Value counts:")
print(df['City'].value_counts())

## Grouping and Aggregation

In [ ]:
# Add more data for grouping
df_extended = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['NYC', 'LA', 'Chicago', 'NYC', 'LA'],
    'Salary': [50000, 60000, 70000, 55000, 65000]
})

print("Group by City and mean:")
print(df_extended.groupby('City').mean())

## Merging and Joining

In [ ]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})

print("Merge:")
print(pd.merge(df1, df2, on='key'))

print("Concat:")
print(pd.concat([df1, df2]))

## Time Series

In [ ]:
dates = pd.date_range('2023-01-01', periods=5, freq='D')
ts = pd.Series(np.random.randn(5), index=dates)
print("Time Series:")
print(ts)

print("Resample monthly:")
print(ts.resample('M').mean())

## Visualization

In [ ]:
# Basic plot (would show in notebook)
try:
    df_extended.plot(x='Name', y='Salary', kind='bar')
    print("Plot created")
except:
    print("Plotting not available in this environment")

## Performance Tips

In [ ]:
# Vectorized operations are preferred
df_large = pd.DataFrame({'A': np.random.randn(1000), 'B': np.random.randn(1000)})

import time
start = time.time()
result = df_large['A'] + df_large['B']
end = time.time()
print("Vectorized operation time:", end - start)

## Cleanup

In [ ]:
import os

for f in ['sample.csv']:
    if os.path.exists(f):
        os.remove(f)
        print(f"Removed: {f}")

print("\nCleanup complete!")