# 02 Variables And Data Types

Comprehensive examples with practical demonstrations.

## Variable Assignment

In [1]:
# Variables are containers for storing dataname = "John"age = 30height = 5.9is_student = Falseprint(f"Name: {name}, Age: {age}, Height: {height}, Student: {is_student}")

In [7]:
name = "John"

In [8]:
print(name)

John

## Multiple Assignment

In [2]:
# Assign multiple variables in one linex, y, z = 1, 2, 3print(f"x={x}, y={y}, z={z}")# Assign same value to multiple variablesa = b = c = 10print(f"a={a}, b={b}, c={c}")

## Integer Type

In [ ]:
# Whole numbers without decimal pointscount = 42negative = -15large_num = 1_000_000  # Underscores for readabilityprint(f"Count: {count}, Type: {type(count)}")print(f"Large number: {large_num}")

## Float Type

In [ ]:
# Numbers with decimal pointsprice = 19.99pi = 3.14159scientific = 1.5e3  # 1.5 × 10³ = 1500print(f"Price: {price}, Type: {type(price)}")print(f"Scientific: {scientific}")

## String Type

In [ ]:
# Text data enclosed in quotessingle = 'Hello'double = "World"multiline = """This isa multilinestring"""print(f"Single quotes: {single}")print(f"Multiline:")print(multiline)

## Boolean Type

In [ ]:
# True or False valuesis_active = Trueis_deleted = Falseprint(f"Active: {is_active}, Type: {type(is_active)}")print(f"5 > 3 = {5 > 3}")  # Comparison returns boolean

## None Type

In [ ]:
# Represents absence of valueresult = Noneprint(f"Result: {result}, Type: {type(result)}")# Commonly used for optional parametersdef greet(name=None):    if name is None:        return "Hello, Guest!"    return f"Hello, {name}!"print(greet())print(greet("Alice"))

## Type Conversion

In [ ]:
# Convert between data typesstr_num = "100"num = int(str_num)  # String to integerfloat_num = float(str_num)  # String to floatprint(f"String: {str_num}, Integer: {num}, Float: {float_num}")# Convert to stringage = 25age_str = str(age)print(f"Age as string: '{age_str}', Type: {type(age_str)}")

## Type Checking

In [ ]:
# Check the type of variablesvalue = 42print(f"Type of {value}: {type(value)}")print(f"Is integer? {isinstance(value, int)}")print(f"Is string? {isinstance(value, str)}")